.header{
    background: transparent;
    z-index: 2;
}

.main-content{
    margin-top: 4rem;
}

.header .title-logo{
    display: none;
}

.header .button-burguer{
    margin-left: auto;
}

.navbar, .navbar-change{
    top: 0;
}

.introduction{
    margin: 0 auto;
    display: grid;
    width: 52rem;
    grid-template: 14.4rem 5rem 8.7rem/24.8rem 27.2rem;
    grid-template-areas:"introduction-tittle-label image-container"
                        "introduction-links image-container"
                        " . available-to-work";
}

.introduction .introduction-tittle-label{
    grid-area: introduction-tittle-label;
}

.introduction .first-greeting{
    font-size: 2rem;
    font-weight: 500;
}

.introduction .name-developer{
    font-size: 2.4rem;
}    

.introduction .image-container{
    grid-area: image-container;
    width: 22rem;
    height: 15.6rem;
    margin: 0;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction .introduction-links{
    grid-area: introduction-links;
    display: flex;
    align-items: center;
}


.introduction .cv-downloader{
    margin: 0;
}

.introduction .social-media{
    margin: 0;
    margin-left: 2rem;
}

.introduction .available-to-work{
    grid-area: available-to-work;
    margin: 0;
    justify-self: center;
}

/*about me*/

/*projects*/
.projects .projects-container{
    width: 52rem;
}

.projects .projects-container-card{
    width: 52.1rem;
    height: 21.5rem;
}

.projects .projects-container-card-delay-first{
    width: 400%;
    height: 21.5rem;
}

/*abput-me*/
.about-me{
    margin-top: 0;
}


/*stack*/
.stack .stack-container-delay{
    width: 100%;
}

/*services*/
.services .service-target-container{
    width: 40rem;
    height: 20rem;
}

.services-container .service-target{
    width: 36rem;
    height: 20rem;
    padding: 1rem 1.6rem;
}

.services .service-target-grid-first,
.services .service-target-grid-second{
    margin-top: 0;
    width: 210%;
}

.services-container h2{
    width: 100%;
    margin-top: .8rem;
    font-size: 2rem;
}

.services-container h2 + p{
    margin-top: .4rem;
}

/*footer*/
.footer-section .footer-initial-label h1{
    font-size: 2rem;
}

.footer-section-links ul{
    padding: 0;
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    height: 12.8rem;
}

.footer-section-links ul li:not(:first-child){
    margin-top: 0;
}


.footer-section .footer-main-form input[type="tel"]{
    width: 50%;
    text-align: center;
    padding: 0 1.6rem; 
}